/* universal selector */
* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* type selector */
h1, p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

#profile {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

body{
    background-color: #16A9E4;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%2316A9E4' cx='50' cy='0' r='50'/%3E%3Cg fill='%2300a4e5' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23009fe5' cx='50' cy='100' r='50'/%3E%3Cg fill='%230099e6' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%230094e6' cx='50' cy='200' r='50'/%3E%3Cg fill='%23008ee6' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%230089e6' cx='50' cy='300' r='50'/%3E%3Cg fill='%230083e6' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23007de6' cx='50' cy='400' r='50'/%3E%3Cg fill='%230077e5' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%230071e4' cx='50' cy='500' r='50'/%3E%3Cg fill='%23006be2' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%230064e1' cx='50' cy='600' r='50'/%3E%3Cg fill='%23005edf' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%230057dc' cx='50' cy='700' r='50'/%3E%3Cg fill='%230050d9' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%230048d6' cx='50' cy='800' r='50'/%3E%3Cg fill='%230040d2' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%230038cd' cx='50' cy='900' r='50'/%3E%3Cg fill='%23002ec8' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%231222C3' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
}

footer {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}



/* .fa-globe, .fa-facebook, .fa-twitter, .fa-instagram, .fa-tiktok, .fa-youtube{ 
    color: white;
    font-size: 25px;
    margin: 0 10px 0 10px;
}

.fa-globe:hover, .fa-facebook:hover, .fa-twitter:hover, .fa-instagram:hover, .fa-tiktok:hover, .fa-youtube:hover{ 
    color: blue;
} */

.icon-link {
    color: white;
    font-size: 25px;
    margin: 0 10px 0 10px;
}

.icon-link:hover {
    color: blue;
}

#landing {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}